* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background: #f7f7f7;
  padding: 15px;
}

header {
  text-align: center;
  margin-bottom: 10px;
}

h1 {
  
  color: #222;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}




.gallery-item,
.gallery-item1,
.gallery-item2,
.gallery-item3 {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
 
}

.gallery-item img,
.gallery-item1 img,
.gallery-item2 img,
.gallery-item3 img {
      width: 100%;
    height: 230px;
    display: flex;
      flex-wrap: wrap;
    border: 1px solid;
    border-radius: 10px;
    transition: transform 0.9s;
}



.caption {
  position: absolute;
  bottom: 0;
 font-weight: 700;
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition:  1.2s ;
}


.gallery-item:hover img,
.gallery-item1:hover img,
.gallery-item2:hover img
 {
  transform: scale(1.13);
}

.gallery-item:hover .caption,
.gallery-item1:hover .caption,
.gallery-item2:hover .caption
 {
  opacity: 1;
  transform: translateY(0);
  
}




@media(max-width:768px){
    .gallery-item2{
        display: none;
    }
    .gallery {
      grid-template-columns: repeat(3, 1fr);
    
  }
    .gallery-item2 img{
        display: none;
    }
    .gallery-item img,
.gallery-item1 img,
.gallery-item2 img
 {
      width: 100%;
      
    height: 200px;
    display: block;
    transition: transform 0.7s;
}
.caption {
  position: absolute;
  bottom: 0;
 
  color: white;
  width: 90%;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.8s ease;
}
    
}

@media(max-width:375px){
   

    .gallery-item img,
.gallery-item1 img

 {
      width: 100%;
    height: 125px;
    
    display: block;
    transition: transform 0.4s;
}
.gallery {
    grid-template-columns: repeat(2, 1fr);
  }
.caption {
  position: absolute;
  bottom: 0;
 
  color: white;
  width: 80%;
  text-align: center;
          padding: 9px;
  opacity: 0;
  transform: translateY(100%);
  transition:  0.5s ;
}
}

